In [7]:
import numpy as np

Person = {
    "first": "Steve",
    "last": "Rogers",
    "email": "SRogers@ave.com",
} #dictionary

In [8]:
People = {
    "first": ["Steve", "Howard", "Tony", "Clark", ],
    "last": ["Rogers", "Stark", "Stark", "Kent", ],
    "email": ["SRogers@ave.com", "HStark@ave.com", "TStark@ave.com", "CKent@jl.com", ],
}

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(People) #careful for the upper case

In [11]:
People

{'first': ['Steve', 'Howard', 'Tony', 'Clark', nan, None, 'NA'],
 'last': ['Rogers', 'Stark', 'Stark', 'Kent', nan, nan, 'Missing'],
 'email': ['SRogers@ave.com',
  'HStark@ave.com',
  'TStark@ave.com',
  'CKent@jl.com',
  None,
  nan,
  'Missing'],
 'age': ['30', '50', '31', '33', None, None, 'Missing']}

In [12]:
df

    first     last            email      age
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
2    Tony    Stark   TStark@ave.com       31
3   Clark     Kent     CKent@jl.com       33
4     NaN      NaN             None     None
5    None      NaN              NaN     None
6      NA  Missing          Missing  Missing

In [13]:
df["email"] #calling a column

0    SRogers@ave.com
1     HStark@ave.com
2     TStark@ave.com
3       CKent@jl.com
4               None
5                NaN
6            Missing
Name: email, dtype: object

In [14]:
df['first']

0     Steve
1    Howard
2      Tony
3     Clark
4       NaN
5      None
6        NA
Name: first, dtype: object

In [15]:
type(df['last']) #inspecting type of data

pandas.core.series.Series

In [16]:
df.email #another way of calling a column, though chances are name of column is the same as a function

0    SRogers@ave.com
1     HStark@ave.com
2     TStark@ave.com
3       CKent@jl.com
4               None
5                NaN
6            Missing
Name: email, dtype: object

In [17]:
df[['last','first']] #calling multiple columns, notice the list inside the calling bracket

      last   first
0   Rogers   Steve
1    Stark  Howard
2    Stark    Tony
3     Kent   Clark
4      NaN     NaN
5      NaN    None
6  Missing      NA

In [18]:
df.columns #getting name for all columns

Index(['first', 'last', 'email', 'age'], dtype='object')

In [19]:
df.iloc[0] #calling integer row

first              Steve
last              Rogers
email    SRogers@ave.com
age                   30
Name: 0, dtype: object

In [20]:
df.iloc[[1,2]] #calling the 2nd and 3rd row

    first   last           email age
1  Howard  Stark  HStark@ave.com  50
2    Tony  Stark  TStark@ave.com  31

In [21]:
df.iloc[1,1] #calling a single entry (2,2), iloc can only eat integers

'Stark'

In [22]:
df.iloc[[0,1],0:2] #calling row 0,1 and column 0~2(-1)

    first    last
0   Steve  Rogers
1  Howard   Stark

In [23]:
df.loc[[0,2]] #for loc, [0,2] are default labels

   first    last            email age
0  Steve  Rogers  SRogers@ave.com  30
2   Tony   Stark   TStark@ave.com  31

In [24]:
df.loc[[0,2],'email'] #for iloc and loc, 2nd variables are columns, iloc use integer, loc use label

0    SRogers@ave.com
2     TStark@ave.com
Name: email, dtype: object

In [25]:
df.set_index('first', inplace=True) #setting index, if (inplace = true), will change.

In [26]:
df.index #index column

Index(['Steve', 'Howard', 'Tony', 'Clark', nan, None, 'NA'], dtype='object', name='first')

In [27]:
#df.loc[0] #this won't work if index is changed

In [28]:
df.iloc[2] #this will still work even if index is changed

last              Stark
email    TStark@ave.com
age                  31
Name: Tony, dtype: object

In [29]:
df.reset_index(inplace=True) #reset to default index, inplace makes the change

In [30]:
df

    first     last            email      age
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
2    Tony    Stark   TStark@ave.com       31
3   Clark     Kent     CKent@jl.com       33
4     NaN      NaN             None     None
5    None      NaN              NaN     None
6      NA  Missing          Missing  Missing

In [31]:
filt = (df['last'] == 'Stark') #a filter mask
df[filt] #this applies the filter mask to df

    first   last           email age
1  Howard  Stark  HStark@ave.com  50
2    Tony  Stark  TStark@ave.com  31

In [32]:
df.loc[filt] #another way to apply filter mask, 'filt' to row

    first   last           email age
1  Howard  Stark  HStark@ave.com  50
2    Tony  Stark  TStark@ave.com  31

In [33]:
df.loc[filt, 'email']

1    HStark@ave.com
2    TStark@ave.com
Name: email, dtype: object

In [34]:
df.loc[filt, ['first','last']]

    first   last
1  Howard  Stark
2    Tony  Stark

In [35]:
filt2 = (df['last'] == 'Stark') & (df['first'] == 'Tony') # '&' means "and", '|' means "or"
df.loc[filt2]

  first   last           email age
2  Tony  Stark  TStark@ave.com  31

In [36]:
filt3 = (df['last'] == 'Stark') | (df['first'] == 'Steve') # '&' means "and", '|' means "or"
df.loc[filt3]

    first    last            email age
0   Steve  Rogers  SRogers@ave.com  30
1  Howard   Stark   HStark@ave.com  50
2    Tony   Stark   TStark@ave.com  31

In [37]:
df.loc[~filt2] # '~' gets the invert of the filter, invert of truth table

    first     last            email      age
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
3   Clark     Kent     CKent@jl.com       33
4     NaN      NaN             None     None
5    None      NaN              NaN     None
6      NA  Missing          Missing  Missing

In [38]:
df.columns # calling the column names

Index(['first', 'last', 'email', 'age'], dtype='object')

In [39]:
df.columns = ['first name','last name', 'email'] # give a new set of names
df

ValueError: Length mismatch: Expected axis has 4 elements, new values have 3 elements

In [40]:
df.columns = [x.upper() for x in df.columns] #a for loop in list, with each one change into upper case
df

    FIRST     LAST            EMAIL      AGE
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
2    Tony    Stark   TStark@ave.com       31
3   Clark     Kent     CKent@jl.com       33
4     NaN      NaN             None     None
5    None      NaN              NaN     None
6      NA  Missing          Missing  Missing

In [41]:
df.columns = df.columns.str.replace(' ','_') # str.replace, replacing ' ' in a string to '_'
df

    FIRST     LAST            EMAIL      AGE
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
2    Tony    Stark   TStark@ave.com       31
3   Clark     Kent     CKent@jl.com       33
4     NaN      NaN             None     None
5    None      NaN              NaN     None
6      NA  Missing          Missing  Missing

In [42]:
df.rename(columns = {'FIRST_NAME':'first','LAST_NAME':'last'}, inplace = True) # pass in a map of old column names to new names
df

    FIRST     LAST            EMAIL      AGE
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
2    Tony    Stark   TStark@ave.com       31
3   Clark     Kent     CKent@jl.com       33
4     NaN      NaN             None     None
5    None      NaN              NaN     None
6      NA  Missing          Missing  Missing

In [43]:
df.loc[3] = ['Bruce', 'Wayne', 'BWayne@jl.com'] # replace a whole row with a new list
df

ValueError: cannot copy sequence with size 3 to array axis with dimension 4

In [44]:
df.loc[3, ['first','EMAIL']]=['John','JWayne@jl.com'] # replace specific values
df

KeyError: "['first'] not in index"

In [45]:
df.loc[3,'first'] = 'Bruce' # replace a single entry
df

    FIRST     LAST            EMAIL      AGE  first
0   Steve   Rogers  SRogers@ave.com       30    NaN
1  Howard    Stark   HStark@ave.com       50    NaN
2    Tony    Stark   TStark@ave.com       31    NaN
3   Clark     Kent     CKent@jl.com       33  Bruce
4     NaN      NaN             None     None    NaN
5    None      NaN              NaN     None    NaN
6      NA  Missing          Missing  Missing    NaN

In [46]:
df.at[3,'first'] = 'John' # for a single entry, can use .at function
df

    FIRST     LAST            EMAIL      AGE first
0   Steve   Rogers  SRogers@ave.com       30   NaN
1  Howard    Stark   HStark@ave.com       50   NaN
2    Tony    Stark   TStark@ave.com       31   NaN
3   Clark     Kent     CKent@jl.com       33  John
4     NaN      NaN             None     None   NaN
5    None      NaN              NaN     None   NaN
6      NA  Missing          Missing  Missing   NaN

In [47]:
filt = (df['EMAIL']=='JWayne@jl.com') # a warning regarding temp files
df[filt]['first'] = 'Bruce'

In [48]:
filt = (df['EMAIL']=='JWayne@jl.com') # a correct way
df.loc[filt, 'first'] = 'Bruce'
df

    FIRST     LAST            EMAIL      AGE first
0   Steve   Rogers  SRogers@ave.com       30   NaN
1  Howard    Stark   HStark@ave.com       50   NaN
2    Tony    Stark   TStark@ave.com       31   NaN
3   Clark     Kent     CKent@jl.com       33  John
4     NaN      NaN             None     None   NaN
5    None      NaN              NaN     None   NaN
6      NA  Missing          Missing  Missing   NaN

In [49]:
df.rename(columns = {'EMAIL':'email'}, inplace =True)
df

    FIRST     LAST            email      AGE first
0   Steve   Rogers  SRogers@ave.com       30   NaN
1  Howard    Stark   HStark@ave.com       50   NaN
2    Tony    Stark   TStark@ave.com       31   NaN
3   Clark     Kent     CKent@jl.com       33  John
4     NaN      NaN             None     None   NaN
5    None      NaN              NaN     None   NaN
6      NA  Missing          Missing  Missing   NaN

In [50]:
df['email'] = df['email'].str.lower() # change a colume(a string) to lower cases
df

    FIRST     LAST            email      AGE first
0   Steve   Rogers  srogers@ave.com       30   NaN
1  Howard    Stark   hstark@ave.com       50   NaN
2    Tony    Stark   tstark@ave.com       31   NaN
3   Clark     Kent     ckent@jl.com       33  John
4     NaN      NaN             None     None   NaN
5    None      NaN              NaN     None   NaN
6      NA  Missing          missing  Missing   NaN

In [51]:
df['email'].apply(len) # apply the len function to every element of the column

TypeError: object of type 'NoneType' has no len()

In [52]:
def update_email(email):
    return email.upper()

df['email'].apply(update_email) # apply a self-defined function

AttributeError: 'NoneType' object has no attribute 'upper'

In [53]:
df['email'].apply(lambda x: x.upper()) # a similar way but using lambda function so don't have to give the function a name
                                        #since it is only applied once, here.

AttributeError: 'NoneType' object has no attribute 'upper'

In [54]:
df.apply(len) # apply a function to each series(column), default as column
                # can check as len(df['first'])

FIRST    7
LAST     7
email    7
AGE      7
first    7
dtype: int64

In [55]:
df.apply(len, axis = 'columns') # apply a function to each series, changing axis to apply to each row

0    5
1    5
2    5
3    5
4    5
5    5
6    5
dtype: int64

In [56]:
df.apply(pd.Series.min) # grab the min(alphabetical first) value of each column

TypeError: ("'<=' not supported between instances of 'str' and 'float'", 'occurred at index FIRST')

In [57]:
df.apply(pd.Series.min, axis = 'columns') # change the axis to apply to each row

TypeError: ("'<=' not supported between instances of 'str' and 'float'", 'occurred at index 0')

In [58]:
df.apply(lambda x : x.min()) # note that here x is a series already

TypeError: ("'<=' not supported between instances of 'str' and 'float'", 'occurred at index FIRST')

In [59]:
df.applymap(len) # apply function len to every entry and change it's value accordingly

TypeError: ("object of type 'float' has no len()", 'occurred at index FIRST')

In [60]:
df.applymap(str.lower) # apply function str.lower to every entry and change it's value accordingly

TypeError: ("descriptor 'lower' requires a 'str' object but received a 'float'", 'occurred at index FIRST')

In [61]:
df['first'].replace({'Steve':'STEVE'}) # replace specific values

0     NaN
1     NaN
2     NaN
3    John
4     NaN
5     NaN
6     NaN
Name: first, dtype: object

In [62]:
df['full_name'] = df['first'] + ' ' + df['last'] # add a new column, the value is 'first last'

KeyError: 'last'

In [63]:
df.drop(columns = ['first','last'], inplace=True) # remove 2 columns, using drop()

KeyError: "['last'] not found in axis"

In [64]:
df['full_name'].str.split(' ') # str.split by ' '

KeyError: 'full_name'

In [65]:
df['full_name'].str.split(' ', expand=True) # into dataframe

KeyError: 'full_name'

In [66]:
df[['first','last']] = df['full_name'].str.split(' ', expand=True) # assign(adding) new column data to the dataframe
df

KeyError: 'full_name'

In [67]:
df.append({'first':'Peter'}, ignore_index=True) # adding(appending) a new row, need to give some value using dictionary
                                                    # need ignore_index since the new row has no index

    FIRST     LAST            email      AGE  first
0   Steve   Rogers  srogers@ave.com       30    NaN
1  Howard    Stark   hstark@ave.com       50    NaN
2    Tony    Stark   tstark@ave.com       31    NaN
3   Clark     Kent     ckent@jl.com       33   John
4     NaN      NaN             None     None    NaN
5    None      NaN              NaN     None    NaN
6      NA  Missing          missing  Missing    NaN
7     NaN      NaN              NaN      NaN  Peter

In [68]:
no_name = {
    'first':['John', 'Jane'],
    'last':['Doe', 'Doe'],
    'email':['JDoe@email.com','JDoe@email.com']
}
df_noname = pd.DataFrame(no_name)
df_noname

  first last           email
0  John  Doe  JDoe@email.com
1  Jane  Doe  JDoe@email.com

In [69]:
df.append(df_noname, ignore_index=True) # append date frame to data frame.

C:\Users\cradmin\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

       AGE   FIRST     LAST            email first last
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
3       33   Clark     Kent     ckent@jl.com  John  NaN
4     None     NaN      NaN             None   NaN  NaN
5     None    None      NaN              NaN   NaN  NaN
6  Missing      NA  Missing          missing   NaN  NaN
7      NaN     NaN      NaN   JDoe@email.com  John  Doe
8      NaN     NaN      NaN   JDoe@email.com  Jane  Doe

In [70]:
df = df.append(df_noname, ignore_index=True) # to modify dataframe, need to asign value, no 'inplace' argument
df

       AGE   FIRST     LAST            email first last
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
3       33   Clark     Kent     ckent@jl.com  John  NaN
4     None     NaN      NaN             None   NaN  NaN
5     None    None      NaN              NaN   NaN  NaN
6  Missing      NA  Missing          missing   NaN  NaN
7      NaN     NaN      NaN   JDoe@email.com  John  Doe
8      NaN     NaN      NaN   JDoe@email.com  Jane  Doe

In [71]:
df.drop(index=[4,5], inplace = True) # drop rows, need inplace argument

# or use filter:

df.drop( index=df[df['last']=='Doe'].index ) # df['last']=='Doe' is condition, df[df['last']=='Doe'] is row, 
                                                # df[df['last']=='Doe'].index is index of row
    # filt = df['last']=='Doe'
    # df.drop(index=df[filt].index) # inplace = True

       AGE   FIRST     LAST            email first last
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
3       33   Clark     Kent     ckent@jl.com  John  NaN
6  Missing      NA  Missing          missing   NaN  NaN

In [72]:
df

       AGE   FIRST     LAST            email first last
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
3       33   Clark     Kent     ckent@jl.com  John  NaN
6  Missing      NA  Missing          missing   NaN  NaN
7      NaN     NaN      NaN   JDoe@email.com  John  Doe
8      NaN     NaN      NaN   JDoe@email.com  Jane  Doe

In [73]:
df.sort_values(by='first') # sorting values by column name, default is small to high, ascending

       AGE   FIRST     LAST            email first last
8      NaN     NaN      NaN   JDoe@email.com  Jane  Doe
3       33   Clark     Kent     ckent@jl.com  John  NaN
7      NaN     NaN      NaN   JDoe@email.com  John  Doe
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
6  Missing      NA  Missing          missing   NaN  NaN

In [74]:
df.sort_values(by='first', ascending=False) # descending

       AGE   FIRST     LAST            email first last
3       33   Clark     Kent     ckent@jl.com  John  NaN
7      NaN     NaN      NaN   JDoe@email.com  John  Doe
8      NaN     NaN      NaN   JDoe@email.com  Jane  Doe
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
6  Missing      NA  Missing          missing   NaN  NaN

In [75]:
df.sort_values(by=['first', 'last']) # sort by 'first', then by 'last'

       AGE   FIRST     LAST            email first last
8      NaN     NaN      NaN   JDoe@email.com  Jane  Doe
7      NaN     NaN      NaN   JDoe@email.com  John  Doe
3       33   Clark     Kent     ckent@jl.com  John  NaN
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
6  Missing      NA  Missing          missing   NaN  NaN

In [76]:
df.sort_values(by=['last', 'first']) # sort by 'last', then by 'first'

       AGE   FIRST     LAST            email first last
8      NaN     NaN      NaN   JDoe@email.com  Jane  Doe
7      NaN     NaN      NaN   JDoe@email.com  John  Doe
3       33   Clark     Kent     ckent@jl.com  John  NaN
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
6  Missing      NA  Missing          missing   NaN  NaN

In [77]:
df.sort_values(by=['last', 'first'], ascending=[True,False]) #'last' ascending, 'first' decending

       AGE   FIRST     LAST            email first last
7      NaN     NaN      NaN   JDoe@email.com  John  Doe
8      NaN     NaN      NaN   JDoe@email.com  Jane  Doe
3       33   Clark     Kent     ckent@jl.com  John  NaN
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
6  Missing      NA  Missing          missing   NaN  NaN

In [78]:
df.sort_values(by=['last', 'first'], ascending=[True,False], inplace = True)

In [79]:
df.sort_index() # sort by index

       AGE   FIRST     LAST            email first last
0       30   Steve   Rogers  srogers@ave.com   NaN  NaN
1       50  Howard    Stark   hstark@ave.com   NaN  NaN
2       31    Tony    Stark   tstark@ave.com   NaN  NaN
3       33   Clark     Kent     ckent@jl.com  John  NaN
6  Missing      NA  Missing          missing   NaN  NaN
7      NaN     NaN      NaN   JDoe@email.com  John  Doe
8      NaN     NaN      NaN   JDoe@email.com  Jane  Doe

In [80]:
df['email'].sort_values() # sort_values can also work on a single column

7     JDoe@email.com
8     JDoe@email.com
3       ckent@jl.com
1     hstark@ave.com
6            missing
0    srogers@ave.com
2     tstark@ave.com
Name: email, dtype: object

In [88]:
Peoples = {
    "first": ["Steve", "Howard", "Tony", "Clark", np.nan, None, 'NA',],
    "last": ["Rogers", "Stark", "Stark", "Kent", np.nan, np.nan, 'Missing'],
    "email": ["SRogers@ave.com", "HStark@ave.com", "TStark@ave.com", "CKent@jl.com", None, np.nan, 'Missing'],
    'age': ['30', '50', '31','33', None, None, 'Missing']
}
df_nan=pd.DataFrame(Peoples)

In [85]:
df_nan.dropna() # drop any row that has an NaN number

Empty DataFrame
Columns: [AGE, FIRST, LAST, email, first, last]
Index: []

In [86]:
df_nandropna(axis='index', how='any') # the default setting of dropna()

Empty DataFrame
Columns: [AGE, FIRST, LAST, email, first, last]
Index: []

In [89]:
df_nan.dropna(axis='index', how='all') # if all are NaN, the row will be droped

    first     last            email      age
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
2    Tony    Stark   TStark@ave.com       31
3   Clark     Kent     CKent@jl.com       33
6      NA  Missing          Missing  Missing

In [90]:
df_nan.dropna(axis='columns', how='all')

    first     last            email      age
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
2    Tony    Stark   TStark@ave.com       31
3   Clark     Kent     CKent@jl.com       33
4     NaN      NaN             None     None
5    None      NaN              NaN     None
6      NA  Missing          Missing  Missing

In [91]:
df_nan.dropna(axis='index', how='any', subset = ['email']) 
# if there is NaN in the column 'email', drop the row, then 'how' doesn't do much.

    first     last            email      age
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
2    Tony    Stark   TStark@ave.com       31
3   Clark     Kent     CKent@jl.com       33
6      NA  Missing          Missing  Missing

In [92]:
df_nan.dropna(axis='index', how='all', subset = ['email','last'])
# to make change inplace, make inplace = True

    first     last            email      age
0   Steve   Rogers  SRogers@ave.com       30
1  Howard    Stark   HStark@ave.com       50
2    Tony    Stark   TStark@ave.com       31
3   Clark     Kent     CKent@jl.com       33
6      NA  Missing          Missing  Missing

In [93]:
df_nan.replace('NA', np.nan, inplace=True)
df_nan.replace('Missing', np.nan, inplace=True) # replace customed value to np.nan

In [94]:
df_nan

    first    last            email   age
0   Steve  Rogers  SRogers@ave.com    30
1  Howard   Stark   HStark@ave.com    50
2    Tony   Stark   TStark@ave.com    31
3   Clark    Kent     CKent@jl.com    33
4     NaN     NaN             None  None
5    None     NaN              NaN  None
6     NaN     NaN              NaN   NaN

In [95]:
df_nan.isna() # show if an entry is np.nan. Note that None is also True.

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False
4   True   True   True   True
5   True   True   True   True
6   True   True   True   True

In [96]:
df_nan.fillna('Missing') # refill a np.nan value as 'Missing'
# if numerical, maybe 0 or -1.

     first     last            email      age
0    Steve   Rogers  SRogers@ave.com       30
1   Howard    Stark   HStark@ave.com       50
2     Tony    Stark   TStark@ave.com       31
3    Clark     Kent     CKent@jl.com       33
4  Missing  Missing          Missing  Missing
5  Missing  Missing          Missing  Missing
6  Missing  Missing          Missing  Missing

In [98]:
df_nan.dtypes # check the datatype of dataframe

first    object
last     object
email    object
age      object
dtype: object

In [99]:
type(np.nan)

float

In [100]:
df_nan['age']=df_nan['age'].astype(float) # astype will convert the data to float tyle

In [102]:
df_nan.mean()

age    36.0
dtype: float64